:root {
    --main-color: #d1fdcd;
    --primary-color: #1d2d3d;
    --secondary-color: #495e74;
    --gray-color: #778697;
    --dark-color: #292b2c;
    --blue-color: #3eab44;
    --green-color: #27ae60;
    --green-sea-color: #14826c;
    --pumpkin-color: #d35400;
    --red-color: #d9534f;
    --white-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--main-color);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

/* Some Global Classes For icons */
.bi-pencil-square {
    color: var(--green-sea-color);
    margin-right: 15px;
}

.bi-trash-fill {
    color: var(--red-color);
}

/* Scrollbar Classes For Google Chrome */
html::-webkit-scrollbar {
    width: 12px;
}

html::-webkit-scrollbar-track {
    background-color: rgb(187, 179, 179);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--dark-color);
    border-radius: 15px;
}

.fa-pen-to-square{
    color: var(--green-sea-color);
    margin-right: 15px;
}
.fa-trash{
    color: var(--red-color);
}