.create-post{
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}
.create-post-title{
    font-size: 35px;
    font-weight: 800;
    color: rgb(2, 76, 40);
    margin-bottom: 25px;
    text-decoration: underline;
}
.create-post-form{
    width: 700px;
    display: flex;flex-direction: column;
}
.create-post-input , .create-post-textarea, .create-post-upload{
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--gray-color);
    font-size: 21px;
    padding: 10px;
    margin: 8px 0;
}
.create-post-textarea{
    resize: none;
}
.create-post-upload{
    background-color: rgb(97, 224, 169);
}
.create-post-btn{
    display: block;
    margin-left: auto;
    padding: 6px 18px;
    font-size: 20px;
    font-weight: 500;
    background-color: rgb(2, 85, 32);
    color: var(--white-color);
    border: none;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}


/** Media Queries */
@media(max-width: 820px){
    .create-post-form{
        width: 100%;
    }
}