.hero-header{
    background-image: url("../../../public/images/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 52vh;
    width: 100%;
    margin-bottom: 40px;
}
.hero-header-layout{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 63.5%;
}
.home-title {
    font-size: 42px;
    font-weight: 700;
    padding: 12px 24px;
    border-radius: 22px;
    border: 2px solid var(--green-color);
    color: var(--dark-color);
    background: linear-gradient(135deg, var(--white-color), rgb(55, 147, 55));
    box-shadow: 0 0 15px rgba(0, 255, 150, 0.4);
    text-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;
}
.home-latest-post{
    margin-left: 30px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(2, 85, 32);
    width: max-content;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(2, 85, 32)
    
}
.home-container{
    padding: 0 30px;
    display: flex;
    align-items: flex-start;
}
.home-see-post-link{
    padding:0 60px ;
    margin: 20px 0;
}
.home-see-post-link .home-link{
   width: 100%;
   padding: 10px;
   font-size: 21px;
   background-color: rgb(8, 60, 60);
   color: var(--white-color);
   font-weight: 500;
   cursor: pointer;
   border: none;
   display: block;
   text-align: center;
   border-radius: 8px;
}

/** Media Queries */
@media(max-width: 990px){
    .home-container{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 520px) {
    .home-container {
        padding: 0 15px;
    }
    .home-latest-post{
        margin-left: 15px;
    }
    .home-title{
        font-size: 30px;
    }
    
}