.post-details{
    width: 800px;
    margin: auto;
    padding: 20px;
}
.post-details-image{
    height: 400px;
    margin-bottom: 35px;
}
.details-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.post-label{
    font-size: 16px;
    font-weight: bold;
    color: var(--blue-color);
    cursor: pointer;
}
.update-post-image-form{
    margin-top: 10px;
}
.post-details i{
    font-size: 22px;
    margin-right: 12px;
}
.update-post-image-form button{
    margin-left: 15px;
    margin-top: 5px;
    padding: 3px 6px;
    background-color: rgb(7, 91, 41);
    color: var(--main-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid rgb(7, 91, 41);
}
.post-details-title{
    text-align: center;
    font-size: 40px;
    color: var(--primary-color);
    text-transform: capitalize;
    margin: 10px 0;
    padding-top: 25px;
}
.post-details-user-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.post-details-user-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.post-details-user{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.username-details{
    font-size: 22px;
    color:rgb(8, 102, 81);
}
.post-details-user span{
    font-size: 14px;
    font-weight: 500;
    color: var(--gray-color);
}
.post-details-description{
    font-size: 20px;
    line-height: 1.5;
    color: var(--primary-color);
}
.post-details-icon{
    margin: 15px 0;
    font-size: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue-color);
}
.post-details-icon i{
    cursor: pointer;
}
.post-details-comment{
    font-size: 18px;
    color: var(--gray-color);
}




/** Media Queries*/

@media(max-width: 820px){
    .post-details{
        width: 100%;
    }
}

@media(max-width: 520px) {
    .post-details {
        padding: 15px;
    }
    .post-details-image{
        object-fit: cover;
    }
    .update-post-image-form {
        margin-top: 1px;
    }
}