.table-container{
    display: flex;
    height: calc(100vh - 130px);
    overflow: hidden;
}
.table-wrapper{
    flex: 10;
    padding: 20px;
    overflow-y: scroll;
}
.table-title{
    font-size: 30px;
    color: var(--secondary-color);
    margin-bottom: 15px;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 3px;
    width: max-content;
}
.table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
th , td{
    border: 1px solid var(--gray-color);
    padding: 10px;
}
th{
    background-color: rgb(12, 122, 8);
    color: var(--white-color);
}
tr:hover{
    background-color: #eae7e7;
}
.table-image{
    display: flex;
    align-items: center;
}
.table-user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.table-username{
    font-size: 17px;
    font-weight: 500;
}
.table-btn-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.table-btn-group button{
    border: none;
    background-color: var(--green-color);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    padding: 5px;
    cursor: pointer;
}
.table-color{
    color: var(--white-color);
}
.table-btn-group button:last-child{
    background-color: var(--red-color);
    color: var(--white-color);
}
.table-btn-group button:first-child:hover {
    background-color: green;
}
.table-btn-group button:last-child:hover {
    background-color: red;
}


/** Media Queries */

@media(max-width: 720px){
    .table-wrapper{
        padding: 15px;
    }
    .table-btn-group{
        flex-wrap: wrap;
    }
    .table-btn-group button{
        width: 100%;
        margin: 10px 0;
    }
    th , td{
        padding: 5px;
    }
    .table-image{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 520px){
    .table-wrapper {
        padding: 5px;
    }
    th , td{
        padding: 2px;
    }
}