.header{
    width: 100%;
    height: 80px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue-color);
    position: relative;
    z-index: 99;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
}

/** Header Left */
.header-left{
    display: flex;
    align-items: center;
    color: var(--white-color);
}
.header-logo{
   font-size: 35px;
   font-weight: bold;
   color: var(--white-color) ;
   text-decoration: underline;
}
.logo{
    color: var(--white-color);
}
.header-menu{
    display: none;
}
.header-menu {
    font-size: 33px;
    color: var(--white-color);
    cursor: pointer;
}

/** Navbar */
.nav-links{
    display: flex;
    align-items: center;
}
.nav-link{
    margin: 0 12px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: var(--white-color);
}
.nav-link:hover{
    color: var(--main-color);
}
.nav-link i {
    font-size: 22px;
}

/** Header Right*/
.header-right-link{
   margin-left: 10px;
   font-size: 20px;
   font-weight: 500;
   background-color: var(--white-color);
   color: var(--blue-color);
   border-radius: 10px;
   padding: 5px 10px;
   border: 0;
}
.header-right-link:hover{
    background-color: var(--main-color);
}
.header-right-link i{
    margin-right: 5px;
}
.login{
    color: var(--blue-color);
}
.register {
    color: var(--blue-color);
}
.header-right-user-info{
    display: flex;
    align-items: center;
    position: relative;
}
.header-right-username{
    font-size: 24px;
    font-weight: 700;
    color: rgb(223, 237, 232);
    text-transform: capitalize;
    cursor: pointer;
    margin-right: 10px;
}
.header-right-user-photo{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

/* Drop Down */
.header-right-dropdown{
    position: absolute;
    right: 50%;
    top: 100%;
    background-color: var(--main-color);
    border: 2px solid var(--white-color);
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    width: 150px;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18);
}
.header-dropdown-item{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 18px;
    margin-top: 8px;
    cursor: pointer;
}
.header-dropdown-item i{
    margin-right: 6px;
}
.header-dropdown-item:hover {
    background-color: rgb(14, 160, 14);
    color: var(--white-color);
}



/** Header .. Media Queries */
@media (max-width: 990px){
    .header-left{
        flex-direction: row;
    }
    .header-menu{
        display: block;
        margin: 0 15px ;
    }
    .navbar{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: var(--blue-color);
        transition: all 0.7s;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .nav-links{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 30px;
        margin: 18px 0;
    }
    .nav-link{
        margin: 10px 0;
    }
        .header-right {
            display: flex;
            align-items: center;
        }
}

@media (max-width: 520px){
    .header{
        padding: 0 10px;
    }
    .header-logo{
        font-size: 28px;
        margin-right: 33px;
    }
    .x-icon{
        font-size: 24px;
    }
    .bars-icon{
        font-size: 24px;
    }
    .header-right-link{
        font-size: 15px;
        padding: 5px 7px;
    }
    .header-menu{
        margin-right: 10px;
    }

}